header {
    background-color: blue;
    color: white;
    font-weight: bolder;
    min-height: 75px;
    font-size: 65px;
    text-align: center;
}

aside {
    max-width: 350px;
    min-height: 100px;
    max-height: fit-content;
    background-color: lightgray;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    margin: 10px;
}

input {
    max-width: 200px;
    max-height: 60px;
    justify-content: space-around;
}

button {
    max-width: 200px;
    max-height: 40px;
    margin: 5% 0;
    justify-content: space-between;
}

#forecast-box {
    display: flex;
    min-width: fit-content;
    justify-content: space-between;
}